footer{
    background: url(../imgs/texture-bottom.jpg);
    height: auto;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 15px;
    text-align: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 3rem;
    width: 100%;
    bottom: 0px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    font-size: 14px;   
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
}

.socials a img {
    transition: color .4s ease;
}

.socials img:hover{
    background-color: rgb(72, 247, 127);
    border-radius: 10px;
    
}

.socials img {
    width: 30px;
    height: 30px
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 9px 0;
    text-align: center;
}


.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} 