.main-footer {
    display: flex;
    justify-content: center;
    border: solid 2px red;
}

.foot{
    /* color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    flex-direction: column;
    text-align: center; */
    /* margin-top: 4rem;
    justify-content: center; */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    font-size: 14px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
}

.socials a img {
    transition: .2s ease;
}

.socials img:hover{
    background-color: #48f77f;
    border-radius: 10px;
    
}


.footer-bottom {
    background: #000;
    padding: 9px 0;
    text-align: center;
    
}


.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} */

.socials img {
    width: 30px;
    height: 30px
}