* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../imgs/texture-bottom.jpg);
    display: flex;
    height: 92vh;
    width: 92vw;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    padding: 50px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.escreva1 {
    display: flex;
    padding: 50px;
    margin: 150px;

}

.textoArea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: #808080;
    border-radius: 15px;
    padding: 10px;
    width: 120%;
    height: 60%;
    outline: none;
}

::placeholder {
    color: #ffffff;
}

.info{
    display: flex;
    margin: 15px;
}

.alert {
    width: 20px;
    height: 20px;
}

.detalhe {
    padding: 0px;
    width: 350px;
    height: 18px;
    color: #ffffff;
}

.botoes {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    width: 90%;
}

.botoes :hover{
    background-color: #48f77f;
    border-radius: 10px; 
}


.desencriptar {
    width: 200px;
    height: 80px;
    border-radius: 15px;
    text-transform: uppercase;  
    background: #121214;
    color: #ffffff;
}

.encriptar{
    width: 200px;
    height: 80px;
    border-radius: 15px;
    background: #121214;
    color: #ffffff;
    text-transform: uppercase;
}

.caixa {
    height: 800px;
    width: 400px;
    padding: 32px;
    background: #595858;
    border-radius: 20px;
    margin: 15px;
    color: white;
    text-align: center;
}

.copiar {
    padding: 15px;
    margin: 80px;
}

.imgBoneco {
    margin: 40px;
}


