* {
    padding: 0;
    margin: 0;
    background-color: white;
}



html, body {
    min-width: 100%;
    min-height: 100%;

    /* width: 100vw;
    height: 100vh; */

}

body {
    background: url(../imgs/texture-bottom.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
}

.logo {
    margin: 40px 0 0 25px;
    justify-content: center;
    
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
}

.escreva1 {
    padding: 40px;
    margin-right: 40px;
}

.textoArea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    background: #808080;
    border-radius: 15px;
    height: 35%;
    outline: none;
    resize: none;
    border: none;
    overflow: auto;
    color: #ffffff;
    cursor: default;
    width: 100%;
}

::placeholder {
    color: #ffffff;
}

.info{
    display: flex;
    margin: 15px;
}

.alert {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.detalhe {
    padding: 0px;
    width: 350px;
    height: 18px;
    color: #ffffff;
}

.botoes {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.botoes :hover{
    background-color: #48f77f;
    border-radius: 10px; 
    color: #000;
}


.desencriptar {
    width: 200px;
    height: 80px;
    border-radius: 15px;
    text-transform: uppercase;  
    background: #121214;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    transition: .2s ease;
}

.encriptar{
    width: 200px;
    height: 80px;
    border-radius: 15px;
    background: #121214;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: .2s ease;
}

.caixa {
    max-width: 400px;
    min-height: 100%;
    background: #595858;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.copiar {
    padding: 15px;
    margin: 80px;
}

.imgBoneco {
    margin: 10px;
}

.texto1 {
    margin-top: 10px;
}

.message {
    background: transparent;
    outline: none;
    resize: none;
    border: 0 none;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    color: #ffffff;
}

/* @media (max-width: 768px) {

    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin: 10px 0 0 10px;
        display: flex;
    }

    .container {
        flex-direction: column;
        min-width: 100%;
    }

    .escreva1 {
        margin: 0;
    }

    .escreva2 {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .imgBoneco {
        width: 250px;
    }


}

 */
