* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
background-image: url(/imgs/texture-bottom.jpg);
}

.container {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.7fr;
  overflow-y: hidden;
  padding: 1rem 2rem;
}

.logo {
  margin: 40px 0 0 40px;
}

.container .container-logo{
display: flex;
flex: 1;
justify-content: center;
justify-items: start;
align-content: start;
align-items: start;
}

.container .logo{
display: flex;
}

.container .container-row-left {
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: 4em;
}

.container-row-left input {
border: 0px;
background-color: transparent;
height:250px;
font-weight: bold;
line-height: 48px;
font-size: 20px;
margin-left: 150px;
color: #fff;

}

::placeholder{
  color: #FFF;
}

.container-row-left input:focus {
outline: none;
}

.container .container-row-right {
display: flex;
flex-direction: column;
justify-content: start;
justify-items: stretch;
text-align: start;
padding: 2em;
background-color: transparent;
border: solid 1px #FFF;
color: #FFF;
}

.container-row-right > * {
margin-top: 2rem;
}

.container-row-right .info-text {
font-size: 1.4rem;
font-weight: 500;
line-height: 20px;
}

.container .empty{
display: flex;
justify-content: center;
text-align: center;
color: #FFF;
padding: 0;
}

.info {
  display: flex;
}

.alerta {
  width: 15px;
  height: 15px;
}

.info-frase{
font-size: 14px;
color: #FFF;
font-weight: 600;
margin-left: 0.5em;
}


.botoes{
display: flex;
justify-content: space-between;
padding: 0.5em;
}

.btn-encriptar , .btn-descriptografar {
  background-color: #121214;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  width: 180px;
  height: 75px;
  font-weight: bold;
}


.botoes :hover {
  background-color: #48f77f;
  transition: ease-in-out 0.2s;
  color: #121214;
}

.clear-bloco {
  display: flex;
  justify-content: center;
}

.clear-bloco :hover {
  background-color: #48f77f;
  color: #121214;
  transition: ease-in-out 0.2s;
}

.btn-limpar {
  display: block;
  width: 10%;
  min-width: 100px;
  height: 35px;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #121214;
  color: #48f77f;
  border-radius: 25px;
  cursor: pointer;
}

.container-row-right {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  border-radius: 35px;
}

.hide {
display: none;
}

.container-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 3rem;
}

.container-footer .social img {
  width: 28px;
  margin-left: 0.5em;
  text-decoration: none;
}


.social img:hover {
  background-color: #48f77f;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

.footer-profile {
  color: #FFF;
  margin: 1rem 0;
}
  
  @media (max-width: 1168px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .logo {
      margin: auto;
    }
  
    .container .container-logo{
      display: flex;
      flex: 1;
      justify-content: start;
    }
  
    .container .container-row-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0em;
      height: 100%;
    }
  
    .container .container-row-right{
      display: flex;
      justify-content: space-around;
      padding: 0.7em;
      word-wrap: break-word;
    }
  
    .container .container-row-right .imgBoneco{
      display: none;
    }
    
    .container .container-row-left input {
      margin: auto;    
      }

    .clear-bloco {
      margin: 1rem 0;
    }

    button {
      border: 0;
    }
  }