* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
background-image: url(/imgs/texture-bottom.jpg);
}

.container {
width: 100vw;
height: 100vh;
display: grid;
grid-template-columns: 0.2fr 2fr 0.7fr;
grid-template-rows: 1fr;
grid-column-gap: 7px;
grid-row-gap: 15px;
padding: 1em;
}

.logo {
  margin: 40px 0 0 40px;
}

.container .container-logo{
display: flex;
flex: 1;
justify-content: center;
justify-items: start;
align-content: start;
align-items: start;
}

.container .logo{
display: flex;
}

.container .container-row-left {
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: 4em;
height: 85%;
}

.container .container-row-left input {
border: 0px;
background-color: transparent;
height:250px;
font-weight: bold;
line-height: 48px;
font-size: 20px;
margin-left: 150px;
}

::placeholder{
  color: #FFF;
}

.container .container-row-left input:focus {
outline: none;
}

.container .container-row-right {
display: flex;
flex-direction: column;
justify-content: start;
justify-items: stretch;
text-align: start;
padding: 2em;
background-color: transparent;
border: solid 1px #FFF;
}

.container .container-row-right > * {
margin-top: 2rem;
}

.container .container-row-right .info-text {
font-size: 1.4rem;
font-weight: 500;
line-height: 20px;
}

.container .empty{
display: flex;
justify-content: center;
text-align: center;
color: #FFF;
padding: 0;
}

.container .empty .info-text {
font-size: 0.9rem;
pointer-events:none;
}

.info {
  display: flex;  
}

.alerta {
  width: 15px;
  height: 15px;
}

.info-frase{
font-size: 14px;
color: #FFF;
font-weight: 600;
margin-left: 0.5em;
}


.botoes{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5em;
}

.botoes :hover{
  background-color: #48f77f;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

.btn-limpar{
display: block;
width: 10%;
min-width: 100px;
height: 35px;
font-weight: bold;
font-size: 0.8rem;
background-color: white;
}


.container-row-right{
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
background-color: #FFF;
border-radius: 5px;
}

.hide{
display: none;
}

.container-footer {
  padding: 20px;
  background-color: #FFF;
  border: solid 1px red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-footer .social img {
  width: 25px;
  gap: 20px;
}

.social {
  display: inline-block;
  line-height: 38px;
}

.social img:hover{
  background-color: #48f77f;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}
  
  @media (max-width: 1168px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .logo {
      margin: auto;
    }
  
    .container .container-logo{
      display: flex;
      flex: 1;
      justify-content: start;
    }
  
    .container .container-row-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0em;
      height: 100%;
    }
  
    .container .container-row-right{
      display: flex;
      justify-content: space-around;
      padding: 0.7em;
      word-wrap: break-word;
    }
  
    .container .container-row-right .imgBoneco{
      display: none;
    }
    
    .container .container-row-left input {
      margin: auto;    
      }
  }